body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /* margin: 100px 150px 70px 30px; */
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */
}

h1 strong {
    color: #026fff;
}


h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.hero-image {
    object-fit: cover;
}

.container {
    /* border: 1px solid red; */
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}



figure {
    margin: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid silver;
    border-radius: 10px;
    background-position: bottom;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: 10px;
    margin-bottom: 15px; */
    /* padding: 20px;
    background: white; */

}


.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One';
}

.project-title {
    font-size: 30px;
    margin: 10px 0;
    margin-top: 0;
    margin-bottom: 10px;

}

.project-details {
    width: 50%;

}



.project-imageContainer {
    width: 50%;
}

.project-imageContainer img {
    max-width: 100%;
}




.footer {
    color: white;
    background-color: #1d252c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list-title {
    margin-left: 20px;
}

.event {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url('./images/twitter.svg');
    background-size: 50px 50px;
}

.social-link.facebook {
    background-image: url('./images/facebook.svg');
    background-size: 50px 50px;
}

.social-link.github {
    background-image: url('./images/github.svg');
    background-size: 50px 50px;
}

.social-link.instagram {
    background-image: url('./images/instagram.svg');
    background-size: 50px 50px;
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('./images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5pxs;

}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;

}

.form-email h3 {
    font-family: 'Source Sans pro';
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 1em;
    }
}

@media screen and (max-width:767px) {
    .header {
        display: block;
        height: auto;
    }

    .header ol {
        display: block;
    }

    .header ol li {
        height: 50px;
    }

    .header a {
        justify-content: center;
    }

    .header .logo {
        text-align: center;
    }

    .project {
        display: block;
    }

    .project-imageContainer {
        width: auto;
        text-align: center;
    }

    .project-details {
        width: auto;

    }

    .project-course,
    .project-date,
    .project-url {
        margin: .3em 0;
    }

    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }

    .project-url {
        font-size: 1em;
    }

    .project-course {
        font-size: .7em;
    }

    .project-date {
        font-size: 1em;
    }

    .project-description {
        font-size: 0.8em;
    }

    .event {
        width: auto;
        flex-shrink: initial;
    }

    .event img {
        width: 100%;
    }

    .event-detail {
        margin: -2em .5em .5em;
        padding: 1em;
    }

    .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }

    .form-email button {
        margin: 1em auto;
    }

    .form-email h3 {
        margin-top: 0;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 480px) {
    .project-details {
        font-size: 12px;
    }

}

@media screen and (max-width: 320px) {}